*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    border: none;
    cursor: pointer;
}

.container{
    max-width: 1300px;
    padding: 20px 15px;
    margin: 0 auto;
    display: flex;
    justify-content: end;
}

body{
    background-image: url(../img/universe-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-family: "Heebo", sans-serif;
}

.game_inner{
    max-width: 700px;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.3);
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.game_title{
    font-size: 36px;
    margin-bottom: 10px;
    color: rgb(165 243 252);
}

.game_text{
    font-size: 16px;
    max-width: 450px;
    margin: 0 auto 10px;
}

.game_move{
    font-size: 26px;
    
}

.who_winner{
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(255, 55, 33);
}

.winColor{
    background-color: rgb(253 224 71) !important;
    font-size: 50px;
    font-weight: 900;
}

.win_Color{
    background-color: rgb(239 68 68) !important;
    font-weight: 900;

}

.game_who{
    padding-left: 10px;
}

.block_area{
    display: grid;
    grid-template-columns: repeat(3, clamp(5rem, 4.091rem + 4.55vw, 7.5rem));
    grid-template-rows: repeat(3, clamp(5rem, 4.091rem + 4.55vw, 7.5rem));
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;     
}

.block_item{
    width: clamp(5rem, 4.091rem + 4.55vw, 7.5rem);
    height: clamp(5rem, 4.091rem + 4.55vw, 7.5rem);
    background-color: rgb(8 145 178);
    font-size: 60px;
    border-radius: 10px;
    cursor: pointer;
    transition: linear 0.4s;
}

.circle{
    display: grid;
    place-content: center;
    color: rgb(248, 51, 51); 
    font-size: 50px;
    text-shadow: 1px 1px 4px black;
}

.cross{
    display: grid;
    place-content: center;
    color: rgb(22 163 74);
    font-size: 50px;
    text-shadow: 1px 1px 4px black;
}

.block_item:hover{
    background-color: azure;
}

.text_win, .game_who{
    font-size: 24px;
    margin-bottom: 10px;
    color: rgb(255, 55, 33);
}

#spanWin{
    margin-right: 10px;
}

.btn_reset{
    width: 160px;
    height: 45px;
    display: grid;
    place-content: center;
    font-size: 16px;
    background-color: rgb(14 116 144);
    color: #fff;
    font-weight: 500;
    transition: all 0.5s;
    cursor: pointer;
}

.btn_reset:hover{
    background-color: rgb(6 182 212);
}

